{% extends "employer_base.html" %}

{%block title %}
Creative Name
{%endblock %}



{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{%for message in messages%}
{%if "Delete" in message%}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{%else%}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{message}}

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endif%}
{% endfor %}
{%endif%}
{%endwith%}


{% if LoggedIn %}



{%else%}
    <div class="heading form">Welcome! Please <a href="{{http_status}}employer.{{hostname}}/login">Login</a> or  <a href="{{http_status}}employer.{{hostname}}/register">Signup</a> To proceed</div>
{% endif %}




{% endblock content %}

{% block AccountSettings %}
    {% if LoggedIn %}
    <li><a class="dropdown-item"  href="{{http_status}}employer.{{hostname}}/update_details">Update Details</a></li>
    <li><a class="dropdown-item"  href="{{http_status}}employer.{{hostname}}/logout">Logout</a></li>
    <li><a class="dropdown-item"  href="?delete=True">Delete Account</a></li>

    {%else%}
    <li><a class="dropdown-item"  href="{{http_status}}employer.{{hostname}}/login">Login</a></li>
    <li><a class="dropdown-item"  href="{{http_status}}employer.{{hostname}}/register">Sign up</a></li>

    
    {% endif %}
{% endblock AccountSettings%}

