{% extends "base.html" %}

{%block title %}
Home
{%endblock %}

{% block content %}

    <style>
    </style>


    <script
        src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeConsoleRunner-7549a40147ccd0ba0a6b5373d87e770e49bb4689f1c2dc30cccc7463f207f997.js"></script>
    <script
        src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRefreshCSS-4793b73c6332f7f14a9b6bba5d5e62748e9d1bd0b5c52d7af6376f3d1c625d7e.js"></script>
    <script
        src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRuntimeErrors-4f205f2c14e769b448bcf477de2938c681660d5038bc464e3700256713ebe261.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <html>

    </html>

    <body class="onepage">
        <section class="section vertical" id="section-1">
            <div class="main">
                <div class="lc">
                    <h1 style="font-family: 'Luckiest Guy', cursive; font-size: 48px;">Tired of your regular 9-5?</h1>
                    <p style="max-width: 90%; margin-left: auto; margin-right: auto;">Do you want to try a new field on which you had your mind for so long? But worried about your finance? Well now you can do both your job and work part-time with our service providing companies! We tie up with companies which require part-time postings for their projects. We are waiting for you to apply! :D</p>
                </div>
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewbox="0 0 32 32">
                    <path
                        d="M12 20l4-2 14-14-2-2-14 14-2 4zm-2.959 7.097c-.989-2.085-2.052-3.149-4.137-4.137l3.097-8.525 4-2.435 12-12h-6l-12 12-6 20 20-6 12-12v-6l-12 12-2.435 4z"
                        fill="#ffc7c7"></path>
                </svg>


            </div>
        </section>

        <section class="section vertical" id="section-2">
            <div class="main">
                <div class="lc">

                <h2 style="font-family: 'Rubik Moonrocks', cursive; font-size: 48px;">Get Valuable input for your projects</h2>
                <p>Get work done for projects for a 2-fold profit, businesses gain part-time employies for your projects, and the employies gaining experience! A perfect win-win situation for all! ; )</p>
            </div>
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewbox="0 0 32 32">
                    <path
                        d="M22.423 0c-5.274 8.718-9.447 4.431-15.55 10.701-5.386 5.533-3.518 12.197 1.016 14.492 4.476-2.287 9.055-7.401 12.452-14.804 0 0 3.052 9.348-6.297 18.355 4.54 5.317 12.245 1.618 14.398-6.841 2.341-9.196-3.762-18.559-6.019-21.903zm-19.391 30.195c.004.091.107 1.805 2.355 1.805 1.636 0 9.932-4.521 14.196-16.256-6.451 11.413-15.816 14.245-16.551 14.451z"
                        fill="#a163cc"></path>
                </svg>

            </div>

        </section>

        <section class="section vertical" id="section-3">
            <div class="main">
                <div class="lc">

                <h2 style="font-family: 'Rubik Moonrocks', cursive; font-size: 48px;">And much more...</h2>
                <p>We provide many other benifits to make your lifes easier like automatically recommending you with the jobs which suites best with your profile, in-dept and precise requirements for the job, recommending candidates for your job postings and much more! Register yourself or your business today!</p>
            </div>
                <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewbox="0 0 32 32">
                    <path
                        d="M14.533 19.422l-10.578-10.578c-5.273 6.086-5.273 15.07 0 21.156l10.578-10.578zm1.467-1.422v-18c-4.906.305-9.328 2.18-12.897 5.102l12.897 12.898zm2.002-13.984v14.812l-10.383 10.383c2.328 1.711 5.133 2.789 8.235 2.789 7.818 0 14.146-6.328 14.146-14.133 0-7.078-5.227-12.812-11.998-13.851z"
                        fill="#cbffc7"></path>
                </svg>

            </div>
        </section>


    </body>

    <script
        src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdpn.io/cpe/boomboom/pen.js?key=pen.js-a3f1eec0-3944-f729-090d-9d039ac4ff34"
        crossorigin></script>

{% endblock %}
