<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/showdown@2.0.3/dist/showdown.min.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div id="test">
        
    </div>
    
    <script>
        var converter = new showdown.Converter();
        text = '### hello, markdown!';
        html = converter.makeHtml(text);
        document.getElementById('test').innerHTML = html;
    </script>
    
</body>
</html>