{% extends "explorer_base.html" %}

    
{% block title %}
Direct Messages
{%endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{%for message in messages%}
{%if "Delete" in message%}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{%else%}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    {{message}}

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endif%}
{% endfor %}
{%endif%}
{%endwith%}

{% if LoggedIn %}
<div class="heading">

    {%if chatter == "Unknown User" %}
        {{chatter}}
    {%else%}
        {{chatter.username}}
    {%endif%}

    
</div>
<div class="chatbox">
    

    <div class="msgsbox" id="msgsbox">
        <div class="centinfo">
            {%if chatter == "Unknown User" %}
                {{chatter}}
                <br>
                <span id="delemail"></span>
                <script>
                    var url_string = window.location.href;
                    var url = new URL(url_string);
                    var email = url.searchParams.get("chat");
            
                    document.getElementById("delemail").innerHTML = email

                </script>



            {%else%}
                {{chatter.role}}
                <br>
                {{chatter.username}}
                <br>
                {{chatter.email}}
                <br>
                {{chatter.about}}
                <br>

                {%endif%}
        
        </div>
        {%for msg in chats %}
            {%if msg._from == current_user.email%}
                {% if chats|length == loop.index %}

                    <div class="sent" id="last">
                        {{msg.content}}
                    </div>

                {% else %}
                    <div class="sent">
                        {{msg.content}}
                    </div>

                {% endif %}

                <hr class="lb">

            {%elif msg._to == current_user.email%}
                {% if chats|length == loop.index %}

                    <div class="recd" id="last">
                        {{msg.content}}
                    </div>

                {% else %}
                    <div class="recd">
                        {{msg.content}}
                     </div>

                {% endif %}

                <hr class="lb">

            {%endif%}

    {%endfor%}

    </div>


    <div class="msgbox">
        <input id="msgin" onkeydown = "if (event.keyCode == 13)document.getElementById('sendMsg').click()" class="msgin" type="text" placeholder="Send a message">
        <button onclick="sendMsg()" id="sendMsg" class="submitbutton" type="submit">></button>
    </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>

<script>

    function getID() {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var email = url.searchParams.get("chat");

        if (email) {
            localStorage.setItem('chatID', email);
        }
        else {
            window.location.href = "{{http_status}}explorer.{{hostname}}?page=home";
        }

    }



    getID()


</script>


<script>
    try {
        document.getElementById('last').scrollIntoView();

    } catch (error) {
        
    }
    
    const socket = io('{{http_status}}{{hostname}}/explore');


    socket.on('connect', () => {
        console.log(socket.id)
        socket.emit('id', "{{current_user.email}}", socket.id);
        
    });
    


    socket.on('msg', (...args) => {
        try {
            document.getElementById('last').removeAttribute('id');
            var lastmsg = document.createElement("div");
            lastmsg.innerHTML = args[0].content;
            lastmsg.classList.add("recd");
            lastmsg.id = "last";

            var hr = document.createElement("hr");
            hr.classList.add("lb");

            document.getElementById("msgsbox").appendChild(lastmsg);
            document.getElementById("msgsbox").appendChild(hr);

            hr.scrollIntoView();

        }
        catch (error) {
            
        }
    


    });



    function sendMsg() {
        try {
            text = document.getElementById('msgin').value;

            if (text!=''){
                
                socket.emit('text', text, "{{current_user.email}}", localStorage.getItem('chatID'));

                document.getElementById('last').removeAttribute('id');
                var lastmsg = document.createElement("div");
                lastmsg.innerHTML = text;
                lastmsg.classList.add("sent");
                lastmsg.id = "last";

                var hr = document.createElement("hr");
                hr.classList.add("lb");

                document.getElementById("msgsbox").appendChild(lastmsg);
                document.getElementById("msgsbox").appendChild(hr);

                hr.scrollIntoView();



                document.getElementById('msgin').value = '';

            }

        } catch (error) {
            
        }


        

    };



</script>


{%else%}
<div class="heading">Welcome! Please Login or Signup To proceed</div>
{% endif %}




{% endblock %}



{% block AccountSettings %}
{% if LoggedIn %}
<li><a class="dropdown-item" href="{{http_status}}{{hostname}}/explore/update_details">Update Details</a></li>
<li><a class="dropdown-item" href="{{http_status}}{{hostname}}/explore/logout">Logout</a></li>
<li><a class="dropdown-item" href="?delete=True">Delete Account</a></li>

{%else%}
<li><a class="dropdown-item" href="{{http_status}}{{hostname}}/explore/login">Login</a></li>
<li><a class="dropdown-item" href="{{http_status}}{{hostname}}/explore/register">Sign up</a></li>


{% endif %}
{% endblock AccountSettings%}